/* #region common */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  width: 1440px;
  margin: auto;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}
/* #endregion common */

/*#region Header*/
.header-section {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 24px;
}

.header-nav {
  display: flex;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  width: 115px;
  height: 24px;
  margin-right: 76px;
}

.header-logo .studio {
  color: #2e2f42;
}

.list-link {
  width: 261px;
  height: 24px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.link {
  font-weight: 500;
  color: #2e2f42;
}

.link:hover,
.link:focus,
.mail-tel:hover,
.mail-tel:focus {
  color: #404bbf;
}

.contacts-list {
  display: flex;
  gap: 40px;
}
/* #endregion Header */

/*#region Hero Section*/
.main-section,
.conteiner-btn {
  background: #2e2f42;
  justify-content: center;
  width: 1440px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding-bottom: 48px;
}

.btn {
  display: block;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.btn:hover,
.btn:focus {
  background: #404bbf;
}
/* #endregion Hero Section */

/* #region Features Section */
.features-section {
  margin-top: 120px;
  margin-bottom: 120px;
}

.features-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features {
  display: none;
}

.features-list {
  width: 1128px;
  height: 104px;
  display: flex;

  gap: 24px;
}

.feature-items {
  width: 264px;
  height: 104px;
}

.features-header {
  padding-bottom: 8px;
}
/* #endregion Features Section */

/* #region Team Section */
.team-section {
  width: 1440px;
  height: 732px;
  margin-bottom: 120px;
  background: #f4f4fd;
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 72px;
}

.team-list {
  display: flex;
  width: calc(100% - (3 * 24px) / 4);
  gap: 24px;
  padding-bottom: 120px;
}

.team-box {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px;
  width: 264px;
  height: 380px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.person {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  padding-top: 32px;
  padding-bottom: 8px;
}

.position {
  text-align: center;
  padding-bottom: 32px;
}
/* #endregion Team Section */

/* #region Portfolio Section */
.portfolio-section {
  margin-bottom: 120px;
}

.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-box {
  border: 1px solid #e7e9fc;
  width: 360px;
  height: 420px;
  background: #fff;
  overflow: hidden;
}

.proposal {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 32px;
  padding-bottom: 8px;
  padding-left: 16px;
}

.solution {
  padding-bottom: 32;
  padding-left: 16px;
}
/* #endregion Portfolio Section */

/* #region Footer Section */
.footer-section {
  width: 1440px;
  height: 312px;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #2e2f42;
}

.footer-studio,
.footer-description {
  color: #f4f4fd;
}

.footer-description {
  padding-top: 16px;
}

/* #endregion Footer Section */
